*.jar
*.js
indegx/node_modules
indegx/package-lock.json
indegx/src/*.js

*.drawio
*.drawio.pdf

catalogs
rules
post
*.ttl

Dockerfile
.gitignore
.dockerignore
docker-compose.yml
*.md

*.log
*.old
*.tmp