*.jar
*.js
indegx/node_modules
indegx/package-lock.json
indegx/src/*.js

*.drawio
*.drawio.pdf

catalogs
config
data
input
output
rules
scripts

.github

Dockerfile
.gitignore
.dockerignore
docker-compose.yml
*.md

*.log
*.old
*.tmp